name: Build Gitjacker

on: [push, pull_request]

jobs:
  build-mac-linux:
    name: Build ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    env:
      GOPATH: ${{ github.workspace }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Setup repository
        uses: actions/checkout@v2
        with:
          submodules: true
          path: ./src/github.com/${{ github.repository }}

      - name: Setup go
        uses: actions/setup-go@v2

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Build Gitjacker
        working-directory: ./src/github.com/${{ github.repository }}
        run: make build

      - name: Upload Gitjacker executables
        uses: actions/upload-artifact@v2
        with:
          name: gitjacker-nightly
          path: bin/*